div {
	padding: 1rem;
}

button, input[type=button] {
	margin: 0.5rem;
	cursor: pointer;
}

input[type=text], input[type=number] {
	max-width: 40em;
}

.curDraw {
	padding: 1rem;
}

#player {
	font-weight: bold;
}

#rulesTitle {
	cursor: pointer;
}

.player {
	padding: 0px;
}

body {
	font-family: sans-serif;
	width: 100%;
}

h1, h2 {
	font-weight: bold;
}
